
body {
  background-color: black;
}

body {
 color:snow;
}

.navigation {
  background-color: #500;
  overflow: hidden;
   } 	    
   .navigation a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 12px;
  text-decoration: none;
  font-size: 15px;
}
.navigation a:hover{
background-color:white;
color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.Headshot {
  border-radius: 50%;
}

#Name
{
font-family:Snell Roundhand, cursive;
}


#JustTesting
{
font-family:Snell Roundhand, cursive;
}

.skillformat {  
  float:left;
  width:33%;

}

footer li{
  display: inline-block ;
  padding: 10px;
 
}

.codebuttn{
  color:white; 
}

.codebuttn:hover{
  color:#500;
}

.github-bttn{
color:white;
padding: 15x;
font-size:48px;

}

.github-bttn:hover{
color:#500;
}

.linked-bttn{
color:white;
padding: 15x;
font-size:48px;

}

.linked-bttn:hover{
color:#500;
}





