<!--<body {background-color: silver}>-->


background-image: url(“images/space.gif”);
background-repeat: no-repeat;

.navigation {
  background-color: #500;
  overflow: hidden;
   } 	    
   .navigation a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 12px;
  text-decoration: none;
  font-size: 15px;
}
.navigation a:hover{
background-color:white;
color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.Headshot {
  border-radius: 50%;
}
